repos:
-   repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
    - id: black
      language_version: python3
-   repo: https://github.com/pycqa/flake8
    rev: 3.8.3
    hooks:
    - id: flake8
-   repo: https://github.com/pycqa/isort
    rev: 5.7.0
    hooks:
    - id: isort
      args: ["--profile", "black"]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.812'
    hooks:
    - id: mypy
