# Development requirements

# Mirror the basic requirements
-r requirements.txt

# Packaging
pyinstaller
# setuptools 45 onwards not working with pyinstaller yet
setuptools<45.0.0

# newer versions of jsonschema don't work with the executables built by cx_Freeze
jsonschema==2.6.0

pyRestTable

# Formatting/linting
black==21.5b0
pre-commit
flake8==3.9.1
isort==5.7.0

# Static type checking.
# mypy==0.812

# Testing
pytest
pytest-cov
pytest-qt
mock
lxml
