# In general libraries should not be pinned to specific versions
attrs
h5py
git+https://github.com/ess-dmsc/python-nexus-utilities@4c355cecee3e191788b83531c1ffcc518d0ebc6e#egg=nexusutils
nexusformat
numpy-stl
pint
xmltodict
numpy
pytest-qt
confluent-kafka
ess-streaming-data-types >= 0.9.5


# PySide2 has had some issues with new versions and packaging so we will pin it
PySide2==5.15.0
