# Development requirements

# Mirror the basic requirements
-r requirements.txt

# Packaging
git+https://github.com/anthony-tuininga/cx_Freeze@7566412ec2f1a6bf35312439cb1eca1e8e434a82

# newer versions of jsonschema don't work with the executables built by cx_Freeze
jsonschema==2.6.0

# Formatting/linting
black==19.10b0
pre-commit
flake8

# Testing
pytest
pytest-cov
pytest-qt
mock
